.cont{
    width:900px;
    margin: auto;
}
.card{
    border: none;
}
.login-btn{
    background-color:#f85606ff ;
    border: none;
    color: white;
    padding: 10px 122px;
    border-radius: 2px;
}
.f-btn{
    background-color:#3b5998ff ;
    border: none;
    color: white;
    padding: 10px 95px;
    border-radius: 2px;
    margin-bottom: 10px;
}
.g-btn{
    background-color:#d34836ff ;
    border: none;
    color: white;
    padding: 10px 100px;
    border-radius: 2px;
}