h3{
    span{
    color:#f85606;
    }

   
}
.buy-btn{
    p{
        padding-top: 0px;
        margin: 0;
    }
}
.cart-btn{
    background-color: #f85606;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    p{
        padding-top:2px;
        margin: 0;
    }
}