h3{
    span{
    color:#f85606;
    }

   
}
.buy-btn{
    background-color: #2abbe8ff;
    color: white;
    padding: 5px 10px;

    p{
        padding-top:2px;
        margin: 0;
    }
    &:hover{
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
   
}
.cart-btn{
    background-color: #f85606;
    color: white;
    padding: 5px 10px;
 
    p{
        padding-top:2px;
        margin: 0;
    }
    &:hover{
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
.loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid  #f85606ff;
    border-bottom: 16px solid #f85606ff;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .brows-btn{
    background-color: #f85606;
    display: inline;
    color: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #f85606ff ;
    transition: 0.9s;
    &:hover{
        background-color: transparent;
        border: 2px solid #f85606ff ;
        color: black;

    }
  }

