:link{
    color:#828482
    ;
}
.home{
    
.banner-main
{
    margin-top: 15px;
.category-box{
    
   
    position: relative;
    z-index: 1;

    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.63), 0 6px 20px 0 rgba(255, 255, 254, 0.907);
        
        ul{
            li{
                &:hover{
                    background:#f85706;
                    color: white !important;
                    
                }
                
            }
        }
    }
    // .cat-title{
    //     color:#3f0686ff;
    //     text-shadow: 2px 2px 5px rgb(0, 0, 0);
    //     // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.201), 0 6px 20px 0 rgb(228, 226, 223);
    //     font-size: 25px;
    //     text-align: center;
    
    //     font-weight: 300;
        
    
    //     // background-color:#3f0686ff;
    //     padding: 5px ;
    //     border-radius: 10px;
    //     // border-radius: 0px 0px 80px 80px;
    //     position: relative;
    //     z-index: 1;
    //     // &:after{
    //     //     position: absolute;
    //     //     content: '';
    //     //     background-color:#3f0686ff;
    //     //     width: 15%;
    //     //     bottom: 15px;
    //     //     left: 210px;
    //     //     height: 15px;
    //     //     border-radius:50px 0px 50px 0px;
    
    //     // }
    //     // &:before{
    //     //     position: absolute;
    //     //     content: '';
    //     //     background-color:#3f0686ff;
    //     //     width: 15%;
    //     //     bottom: 15px;
    //     //     right: 210px;
    //     //     height: 15px;
    //     //     border-radius:50px 0px 50px 0px;
    
    //     // }
   




        
    // }
    .cat-menu{
        position: absolute;
        bottom: -10px;
        background-color: #3f0686ff;
        
        :link{
            color: black;
        }
        

    }
        

    .sub-menu{
        position: absolute;
        top: 0px;

        left: 296px;
        z-index: 0;
        width: 400px;
      
        max-height: 275px;
        border-radius: 5px;
        
        
     
        
        

    }
    .product-menu{
        position: absolute;
        top: 0px;
        left: 705px;
        z-index: 1;
        width: 428px;
        max-height: 275px;
      
        h4{
            color: #f85606;
        }
       
     
    }
   
}
}
}
.products{
    .products-title{
        position: relative;
        padding-top: 30px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 800;
        color:rgb(0, 0, 0);     
        &:after{
            position: absolute;
            content: '';
            background-color:#f85606;
            width: 5%;
            bottom: -10px;
            left: 0;
            height: 5px;
            border-radius:50px 0px 50px 0px;
    
        }
    }

    .p-card{
        margin-top: 30px;
        transition: 0.5s;
        padding: 10px;
        width: 170px;

        .pp{color: #f85606;}
        color: #828482;
        &:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);






        }
    }

}