:link{
    color:#828482
    ;
}
.home{
    
.banner-main
{
    margin-top: 15px;
.category-box{
   
    position: relative;

    .card{
     
        
        ul{
            li{
                &:hover{
                    background:#f85706;
                    color: white !important;
                    
                }
                
            }
        }
    }
    .cat-title{
        color:#f85606;
        font-size: 35px;
        text-align: center;
        font-weight: 800;
        padding-left: 5px;
        background-color:#cfccd1;
        padding: 5px;
        border-radius: 5px;


        
    }
    .cat-menu{
        ul{
            li{
               &:hover{
                :Link{ 
                    color: rgb(255, 254, 254);

                }

               }
            }
        }
    }
    .sub-menu{
        position: absolute;
        top: 0;
        left: 280px;
        z-index: 1;
        width: 400px;
      
        max-height: 288px;
     
        
        

    }
    .product-menu{
        position: absolute;
        top: 0;
        left: 685px;
        z-index: 1;
        width: 300px;
      
        max-height: 288px;
     
    }
   
}
}
}
.products{

    .card{
        transition: 0.5s;
        &:hover{

background-color:#f85706;
color: white;
        }
    }
    .load-btn{
        color: #f85606;
        border: 1px solid #f85606;
        display: inline-block;
        text-align: center;
        padding: 5px;
        
        
    }
}