.banner-main
{
    margin-top: 15px;
.category-box{
    position: relative;
    .card{
        ul{
            li{
                &:hover{
                    background:#f857069d;
                    
                }
                
            }
        }
    }
    .cat-title{
        color:#ffffff;
        padding-left: 5px;
        background-color:#3f0686;
        padding: 5px;
        border-radius: 5px;


        
    }
    .sub-menu{
        position: absolute;
        top: 0;
        left: 280px;
        z-index: 1;
        width: 400px;
        overflow-y: auto;
        max-height: 288px;
        scroll-behavior: smooth;
        
        

    }
    .product-menu{
        position: absolute;
        top: 0;
        left: 685px;
        z-index: 1;
        width: 300px;
        overflow-y: auto;
        max-height: 288px;
        scroll-behavior: smooth;
    }
   
}
}